{:duct.handler/file                         [:duct/handler]
 :duct.handler/resource                     [:duct/handler]
 :duct.handler/static                       [:duct/handler]
 :duct.handler.static/ok                    [:duct.handler/static]
 :duct.handler.static/bad-request           [:duct.handler/static]
 :duct.handler.static/not-found             [:duct.handler/static]
 :duct.handler.static/method-not-allowed    [:duct.handler/static]
 :duct.handler.static/internal-server-error [:duct.handler/static]}
